<h2>Wrong measurements? No worries, edit your board below:</h2>

<form action="/surfboards/<%= @surfboard.id %>" method="POST">
	<input type="hidden" name="_method" value="patch">
	<label>Brand Name</label>
	<input type="text" name="brand_name" value="<%= @surfboard.brand_name %>">

	<label>Shaper</label>
	<input type="text" name="shaper" value="<%= @surfboard.shaper %>">

	<label>Length</label>
	<input type="text" name="length" value="<%= @surfboard.length %>">

  <label>Width</label>
  <input type="text" name="width" value="<%= @surfboard.width %>">

  <label>Thickness</label>
  <input type="text" name="thickness" value="<%= @surfboard.thickness %>">

  <label>Tail</label>
  <input type="text" name="tail" value="<%= @surfboard.tail %>">

  <label>Type of Surf</label>
  <input type="text" name="ype_of_surf" value="<%= @surfboard.type_of_surf %>">

	<input type="submit" value="Edit Tree">
</form>
