<h1>Hi <%= current_user.first_name %>!</h1>
<h2>This is a cool <%= @surfboard.brand_name %> surfboard in your quiver.</h2>
<hr id="firstline"></hr>

<p id="bold">Brand Name: <%= @surfboard.brand_name %></p>
<p id="bold">Shaper: <%= @surfboard.shaper %></p>
<p id="bold">Length: <%= @surfboard.length %></p>
<p id="bold">Width: <%= @surfboard.width %></p>
<p id="bold">Thickness: <%= @surfboard.thickness %></p>
<p id="bold">Tail: <%= @surfboard.tail %></p>
<p id="bold">Type of Surf: <%= @surfboard.type_of_surf %></p>

<% if authorized_to_edit?(@surfboard) %>
<br>
<br>
<hr id="firstline"></hr>
<p><a href="/surfboards/<%= @surfboard.id %>/edit">Edit Surfboard</a> -
<a href="/surfboards/new">Create a New One</a> - <a href="/surfboard_owners">Back to Index</a></p>
<form action="/surfboards/<%= @surfboard.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" name="delete" value="Delete Your Surfboard">
</form>
<% end %>
